
.srch{
    margin-top: 30px;
    padding: 30px;
    width: 500px;
}
.btn{
    margin-top: 30px;
    padding: 30px;
    width: 150px;
    color: white;
    background-color:#007bff;
    border:#007bff;
    
}